@media screen and (max-device-width: 480px) and (orientation: portrait){
	.locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
}

	/* #### Mobile Phones Landscape #### */
	@media screen and (max-device-width: 640px) and (orientation: landscape){
	  /* some CSS here */
	  .locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
	}

	/* #### Mobile Phones Portrait or Landscape #### */
	@media screen and (max-device-width: 640px){
	  /* some CSS here */
	  .locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
	}

	/* #### iPhone 4+ Portrait or Landscape #### */
	@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
	  /* some CSS here */
	  .locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
	}

	/* #### iPhone 5 Portrait or Landscape #### */
	@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
	  /* some CSS here */
	  .locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
	}

	/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
	@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
	  /* some CSS here */
	  .locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
	}

	/* #### Tablets Portrait or Landscape #### */
	@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	  /* some CSS here */
	  .locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:30px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
		/*padding-bottom: 10px;*/
		margin-bottom:150px;
		/*padding-bottom: 20px;*/
	}
	.locale-times-logo-div{
		margin-top:5px;
		/*width:20%;*/
	}
	.locale-times-logo-img{
		width:50%;
	}
	.locale-times-content{
		margin-top:20px; 
	}
	}

	/* #### Desktops #### */
	@media screen and (min-width: 1024px){
	  /* some CSS here */
	.locale-times-header{
		background:#2a62c1;
		text-align:center;
		width:100%;
		height:50px;
		top:0px;
		left:0px;
		position:fixed;
		z-index:10000000;
	}
	.locale-times-logo-div{
		margin-top:15px;
	}
	.locale-times-content{
		padding-top:40px; 
	}
	.locale-times-logo-img{
		width:15%;
	}
	}